@import	'fonts',
		'colors';

*{
	box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	background-color: #333;
	font-family: Avenir;
	letter-spacing: 1px;
}

.form{
	width: 420px;
	background-color: $white;
	padding: 40px;
	.field{
		display: block;
		width: 100%;
		margin: 30px 0;
		&--label{
			padding: 0 14px;
			display: inline-block;
			width: 100%;
			font-size: 14px;
			color: $gray;
			margin-bottom: 5px;
			-webkit-user-select: none;
		}
		&--text-input{
			display: inline-block;
			width: 100%;
			border: 1px solid #eeeeee;
			font-size: 20px;
			padding: 14px;
			box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
			font-family: Avenir;
		}
		&--text-area{
			display: block;
			width: 100%;
			border: 1px solid #eeeeee;
			height: 300px;
			padding: 14px;
		}
		&--radio{
			display: flex;
			justify-content: space-between;
			&--option{
				display: inline-block;
				padding: 5px 0;
				width: 150px;
				text-align: center;
				background-color: #fff;
				border-radius: 50px;
				font-size: 24px;
				color: $medium-gray;
				cursor: pointer;
				border: 6px solid #fff;
				box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
				transition: border-color 200ms ease-in-out;
				-webkit-user-select: none;
				&.active{
					border-color: $yellow;
				}
			}
		}
		&--select{
			width: 100%;
			border: none;
			background-color: #fff;
			height: 57px;
			padding: 26px;
			font-size: 20px;
			color: $dark-gray;
			box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
			border-radius: 10px;
		}
	}
	.full-button{
		font-family: Avenir;
		display: inline-block;
		position: relative;
		background-color: $dark-gray;
		color: $white;
		font-size: 24px;
		border-radius: 30px;
		width: 100%;
		padding: 14px;
		margin: 30px 0;
		border: none;
		cursor: pointer;
		text-transform: capitalize;
		& + .ticket-section{
			margin-bottom: -20px;
		}
		&:before{
			content: '+';
			font-size: 50px;
			display: block;
			position: absolute;
			line-height: 0;
			left: 13px;
			top: 30px;
		}
	}
}

.ticket-form{
	background-color: $light-gray;
	margin: 90px -40px 30px;
	padding: 0 40px 30px;
	box-shadow: inset 0 0 10px 0 rgba(#333, 0.2);
	&>.full-button{
		margin: 0 0 -20px;
		transform: translateY(-30px);
	}
}
