@import	'fonts',
		'colors';

*{
	box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	background-color: #000;
	font-family: Avenir;
	letter-spacing: 1px;
}

.form{
	width: 420px;
	background-color: $white;
	padding: 40px;
	height: 100vh;
	overflow-y:scroll;
	.field{
		display: block;
		width: 100%;
		margin: 16px 0;
		position: relative;
		&--label{
			padding: 0 14px;
			display: inline-block;
			width: 100%;
			font-size: 14px;
			color: $gray;
			margin-bottom: 5px;
			-webkit-user-select: none;
		}
		&--currency-input{
			display: inline-block;
			width: 100%;
			border: 1px solid #eeeeee;
			font-size: 20px;
			padding: 12px;
			padding-left: 25px;
			box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
			font-family: Avenir;
			&--suffix{
				position: absolute;
				left: 12px;
				color: #aaa;
				transform: translateY(16px);
			}
		}
		&--text-input{
			display: inline-block;
			width: 100%;
			border: 1px solid #eeeeee;
			font-size: 20px;
			padding: 12px;
			box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
			font-family: Avenir;
		}
		&--text-area{
			display: block;
			width: 100%;
			font-size: 14px;
			border: 1px solid #eeeeee;
			height: 200px;
			padding: 12px;
		}
		&--radio{
			display: flex;
			justify-content: space-between;
			&--option{
				display: inline-block;
				padding: 5px 0;
				width: 150px;
				text-align: center;
				background-color: #fff;
				border-radius: 50px;
				font-size: 24px;
				color: $medium-gray;
				cursor: pointer;
				border: 6px solid #fff;
				box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
				transition: border-color 200ms ease-in-out;
				-webkit-user-select: none;
				&.active{
					border-color: $yellow;
				}
			}
		}
		&--select{
			width: 100%;
			border: none;
			background-color: #fff;
			height: 57px;
			padding: 26px;
			font-size: 20px;
			color: $dark-gray;
			box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
			border-radius: 10px;
		}
	}
	.full-button{
		font-family: Avenir;
		display: inline-block;
		position: relative;
		background-color: $dark-gray;
		color: $white;
		font-size: 24px;
		border-radius: 30px;
		width: 100%;
		padding: 14px;
		margin: 30px 0;
		border: none;
		cursor: pointer;
		text-transform: capitalize;
		& + .ticket-section{
			margin-bottom: -20px;
		}
		&:before{
			content: '+';
			font-size: 50px;
			display: block;
			position: absolute;
			line-height: 0;
			left: 13px;
			top: 30px;
		}
	}
}

.add-button{
	font-size: 20px;
	color: $medium-gray;
	font-family: Avenir;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	&:before{
		transform: translateY(3px);
		content: '+';
		display: inline-block;
		margin-right: 10px;
		color: #fff;
		font-size: 34px;
		padding: 5px 5px;
		line-height: 0.58;
		height: 20px;
		width: 20px;
		background-color: #FFE730;
		border-radius: 30px;
	}
}

.ticket-form{
	background-color: $light-gray;
	margin: 90px -40px 30px;
	padding: 0 40px 30px;
	box-shadow: inset 0 0 10px 0 rgba(#333, 0.2);
	&>.full-button{
		margin: 0 0 -20px;
		transform: translateY(-30px);
	}
}

.cost-form, .sentence-form{
	margin-bottom: 80px;
	&--label{
		font-size: 24px;
		padding: 0 14px 8px;
		color: $medium-gray;
		border-bottom: 2px solid $yellow;
	}
	&--card{
		padding: 10px 18px 18px;
		margin: 0 -18px 20px;
		background-color: #fff;
		box-shadow: 0 3px 10px 0 rgba(#333, 0.1);
	}
	.field{
		margin: 8px 0;
		&--text-area{
			height: 100px;
		}
	}
}

.email--wrapper{
	width: 615px;
	position: absolute;
	left: 420px;
	top: 0;
	height: 100vh;
	overflow-y: scroll; 
}
